// Some guidlines for colors from Google (material design)


//- The A colors are accent colors - brighter and more saturated encouraging interaction. These are perfect for highlighting primary action buttons, standard buttons, switches, and sliders.

// - Use opacity for text, icons, and dividers
//    - base color                100%
//     - text                      87%
//     - secondary text/ icons     54%
//     - disabled / hint text      38%
//     - dividers                  12%

// Red
md-red50  = #FFEBEE
md-red100 = #FFCDD2
md-red200 = #EF9A9A
md-red300 = #E57373
md-red400 = #EF5350
md-red500 = #F44336
md-red600 = #E53935  
md-red700 = #D32F2F
md-red800 = #C62828
md-red900 = #B71C1C
md-red-a100 = #FF8A80
md-red-a200 = #FF5252
md-red-a400 = #FF1744
md-red-a700 = #D50000

// Pink
md-pink50  = #FCE4EC
md-pink100 = #F8BBD0
md-pink200 = #F48FB1
md-pink300 = #F06292
md-pink400 = #EC407A
md-pink500 = #E91E63
md-pink600 = #D81B60
md-pink700 = #C2185B
md-pink800 = #AD1457
md-pink900 = #c50E4F
md-pink-a100 = #FF80AB
md-pink-a200 = #FF4081
md-pink-a400 = #F50057
md-pink-a700 = #C51162

// Purple 
md-purple50  = #F3E5F5
md-purple100 = #E1BEE7
md-purple200 = #CE93D8
md-purple300 = #BA68C8
md-purple400 = #AB47BC
md-purple500 = #9C27B0
md-purple600 = #8E24AA
md-purple700 = #7B1FA2
md-purple800 = #6A1B9A
md-purple900 = #4A148C
md-purple-a100 = #EA80FC
md-purple-a200 = #E040FB
md-purple-a400 = #D500F9
md-purple-a700 = #AA00FF
// Deep Purple
md-deeppurple50  = #EDE7F6
md-deeppurple100 = #D1C4E9
md-deeppurple200 = #B39DDB
md-deeppurple300 = #9575CD
md-deeppurple400 = #7E57C2
md-deeppurple500 = #673AB7
md-deeppurple600 = #5E35B1
md-deeppurple700 = #512DA8
md-deeppurple800 = #4527A0
md-deeppurple900 = #311B92
md-deeppurple-a100 = #B388FF
md-deeppurple-a200 = #7C4DFF
md-deeppurple-a400 = #651FFF
md-deeppurple-a700 = #6200EA
