// Some guidlines for colors from Google (material design)

//- The A colors are accent colors - brighter and more saturated encouraging interaction. These are perfect for highlighting primary action buttons, standard buttons, switches, and sliders.

// - Use opacity for text, icons, and dividers
//    - base color                100%
//     - text                      87%
//     - secondary text/ icons     54%
//     - disabled / hint text      38%
//     - dividers                  12%

// Red
md-red50  = #FFEBEE
md-red100 = #FFCDD2
md-red200 = #EF9A9A
md-red300 = #E57373
md-red400 = #EF5350
md-red500 = #F44336
md-red600 = #E53935  
md-red700 = #D32F2F
md-red800 = #C62828
md-red900 = #B71C1C
md-red-a100 = #FF8A80
md-red-a200 = #FF5252
md-red-a400 = #FF1744
md-red-a700 = #D50000

// Pink
md-pink50  = #FCE4EC
md-pink100 = #F8BBD0
md-pink200 = #F48FB1
md-pink300 = #F06292
md-pink400 = #EC407A
md-pink500 = #E91E63
md-pink600 = #D81B60
md-pink700 = #C2185B
md-pink800 = #AD1457
md-pink900 = #c50E4F
md-pink-a100 = #FF80AB
md-pink-a200 = #FF4081
md-pink-a400 = #F50057
md-pink-a700 = #C51162

// Purple 
md-purple50  = #F3E5F5
md-purple100 = #E1BEE7
md-purple200 = #CE93D8
md-purple300 = #BA68C8
md-purple400 = #AB47BC
md-purple500 = #9C27B0
md-purple600 = #8E24AA
md-purple700 = #7B1FA2
md-purple800 = #6A1B9A
md-purple900 = #4A148C
md-purple-a100 = #EA80FC
md-purple-a200 = #E040FB
md-purple-a400 = #D500F9
md-purple-a700 = #AA00FF

// Deep Purple
md-deeppurple50  = #EDE7F6
md-deeppurple100 = #D1C4E9
md-deeppurple200 = #B39DDB
md-deeppurple300 = #9575CD
md-deeppurple400 = #7E57C2
md-deeppurple500 = #673AB7
md-deeppurple600 = #5E35B1
md-deeppurple700 = #512DA8
md-deeppurple800 = #4527A0
md-deeppurple900 = #311B92
md-deeppurple-a100 = #B388FF
md-deeppurple-a200 = #7C4DFF
md-deeppurple-a400 = #651FFF
md-deeppurple-a700 = #6200EA

// Indigo
md-indigo50  = #E8EAF6
md-indigo100 = #C5CAE9
md-indigo200 = #9FA8DA
md-indigo300 = #7986CB
md-indigo400 = #5C6BC0
md-indigo500 = #3F51B5
md-indigo600 = #3949AB
md-indigo700 = #303F9F
md-indigo800 = #283593
md-indigo900 = #1A237E 
md-indigo-a100 = #8C9EFF
md-indigo-a200 = #536DFE
md-indigo-a400 = #3D5AFE
md-indigo-a700 = #304FFE

// Blue
md-blue50  = #E3F2FD
md-blue100 = #BBDEFB
md-blue200 = #90CAF9
md-blue300 = #64B5F6
md-blue400 = #42A5F5
md-blue500 = #2196F3
md-blue600 = #1E88E5
md-blue700 = #1976D2
md-blue800 = #1565C0
md-blue900 = #0D47A1
md-blue-a100 = #82B1FF
md-blue-a200 = #448AFF
md-blue-a400 = #2979FF
md-blue-a700 = #2962FF

// Light Blue
md-lightblue50  = #E1F5FE
md-lightblue100 = #B3E5FC
md-lightblue200 = #81D4FA
md-lightblue300 = #4FC3F7
md-lightblue400 = #29B6F6
md-lightblue500 = #03A9F4
md-lightblue600 = #039BE5
md-lightblue700 = #0288D1
md-lightblue800 = #0277BD
md-lightblue900 = #01579B
md-lightblue-a100 = #80D8FF
md-lightblue-a200 = #40C4FF
md-lightblue-a400 = #00B0FF
md-lightblue-a700 = #0091EA

// Cyan
md-cyan50  = #E0F7FA
md-cyan100 = #B2EBF2
md-cyan200 = #80DEEA
md-cyan300 = #4DD0E1
md-cyan400 = #26C6DA
md-cyan500 = #00BCD4
md-cyan600 = #00ACC1
md-cyan700 = #0097A7
md-cyan800 = #00838F
md-cyan900 = #006064
md-cyan-a100 = #84FFFF
md-cyan-a200 = #18FFFF
md-cyan-a400 = #00E5FF
md-cyan-a700 = #00B8D4

// 