// Some guidlines for colors from Google (material design)


//- The A colors are accent colors - brighter and more saturated encouraging interaction. These are perfect for highlighting primary action buttons, standard buttons, switches, and sliders.

// - Use opacity for text, icons, and dividers
//		- base color        		100%
// 		- text 					     87%
// 		- secondary text/ icons      54%
// 		- disabled / hint text       38%
// 		- dividers				     12%

// Red
md-red50 = #FFEBEE
md-red100= #FFCDD2
md-red200= #EF9A9A
md-red300= #E57373
md-red400= #EF5350
md-red500= #F44336
md-red600= #E53935
md-red700= #D32F2F
md-red800= #C62828
md-red900= #B71C1C

md-red-a100= #FF8A80
md-red-a200= #FF5252
md-red-a400= #FF1744
md-red-a700= #D50000
// Pink
md-pink50 = #FCE4EC
md-pink100= #F8BBD0
md-pink200= #F48FB1
md-pink300= #F06292
md-pink400= #EC407A
md-pink500= #E91E63
md-pink600= #D81B60
md-pink700= #C2185B
md-pink800= #AD1457
md-pink900= #c50E4F

md-pink-a100= #FF80AB
md-pink-a200= #FF4081
md-pink-a400= #F50057
md-pink-a700= #C51162

